<h2>Ab ins Berner Oberland: 25. - 26. Februar 2012</h2>
<div id="text">
<p>
Nach der Pause im letzten Jahr ist Friends@Snow nun wieder zur&uuml;ck! In diesem Jahr besuchen wir die Berner Alpen: Wir fahren nach Grindelwald in die Jungfrauregion. </p>
<p>&Uuml;bernachten werden wir auf der kleinen Scheidegg im Restaurant 
<a href="http://www.grindelwaldblick.ch/" target="blank" >Grindelwaldblick</a>. Die &Uuml;bernachtung kostet pro Person
 72.- CHF. Im Preis inbegriffen sind ein Abendessen am Samstag und das Fr&uuml;hst&uuml;ck am Sonntag. </p>
<p>Wir konnten in der H&uuml;tte f&uuml;r max. 24 Personen reservieren, deshalb gilt: first come, first served. 
Die ersten 24, die eingezahlt haben, sind dabei.</p>
</div>
<p id="navlink">Jetzt gleich <%= link_to "anmelden", new_participant_path, remote: true %></p> 
