<h2>Friends@Snow ist leider schon vorbei!</h2>
<div id="text">
<p>
Zurzeit ist kein Friends@Snow-Event geplant. Du kannst dich aber trotzdem eintragen,
einfach so zum Spass.. Das ist ja auch nur eine Demo-Installation. Aber wer weiss,
vielleicht gibts Friends@Snow bald auch wieder in echt.</p>
<p>Letztes Jahr waren wir auf der kleinen Scheidegg im Restaurant
<a href="http://www.grindelwaldblick.ch/" target="blank" >Grindelwaldblick</a>. Das nächste
Mal geht's dann vielleicht nach Zermatt.
</div>
<p id="navlink">Jetzt gleich <%= link_to "anmelden", new_participant_path, remote: true %></p>
