$base-height: 36px;

@mixin base-height($height) {
  height: $height*$base-height;
}
  
@mixin base-margin($height) {
  margin-top: $height*$base-height;
}

@mixin resizing-background($url) {
  background: url($url) no-repeat center center fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
